
    <footer class="footer">
        <div class="footer-bottom">
            <div class="footer-bottom-center">
                <img src="__PUBLIC__/Home/my/images/tm.png">
                <div class="footer-bottom-center-one">河南拜特尔软件科技有限公司</div>
                <div class="footer-bottom-center-two">Copyright &copy; 2015 Better Software. All Rights Reserved.</div>
            </div>
        </div>
    </footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
